.sidebar-nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size:.9em;
}


.sidebar-nav ul ul {
    padding-left: 1em;
    font-size: .9em;
}



.content img {
}

.content label {
    font-size:.6em;
    display:block;
    margin-top:0em;
    margin-bottom:0;

}
