<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h3>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h3>

      Joel Arthur Guenther (1973)

      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <ul>

          <li>
            <a class="sidebar-nav-item{% if page.url == /Preface.html %} active{% endif %}" href="/Preface.html">
              Preface
            </a>
          </li>

          <li>
            <a class="sidebar-nav-item{% if page.url == /Introduction.html %} active{% endif %}" href="/Introduction.html">
              Introduction
            </a>
          </li>

          <li>
            <a class="sidebar-nav-item{% if page.url == /properties-of-morse-code.html %} active{% endif %}" href="/properties-of-morse-code.html">
              Properties of Morse Code
            </a>
          </li>

          <li>
            <a class="sidebar-nav-item{% if page.url == /Data%20Analysis%20Procedure.html %} active{% endif %}" href="/Data%20Analysis%20Procedure.html">
              Data Analysis Procedure
            </a>
            <ul>
              <li>
                  <a href="/Data%20Analysis%20Procedure.html#data-gathering">
                    Data Gathering
                  </a>
              </li>
              <li>
                  <a href="/Data%20Analysis%20Procedure.html#data-categorizing">
                    Data Categorizing
                  </a>
                  <ul>
                    <li>
                      <a href="/Data%20Analysis%20Procedure.html#analog-to-digital-conversion">
                        Analog to Digital Conversion
                      </a>
                    </li>
                    <li>
                      <a href="/Data%20Analysis%20Procedure.html#manual-identification">
                        Manual Identification
                      </a>
                    </li>
                    <li>
                      <a href="/Data%20Analysis%20Procedure.html#distribution-plots">
                        Distribution Plots
                      </a>
                    </li>
                  </ul>
              </li>
              <li>
                  <a href="/data-analysis-procedure/data-analysis.html">Data Analysis</a>
                  <ul>
                    <li>
                      <a href="/data-analysis-procedure/data-analysis/pulse-algorithm.html">Pulse Algorithm</a>
                    </li>
                    <li>
                      <a href="/data-analysis-procedure/data-analysis/space-algorithm.html">Space Algorithm</a>
                    </li>
                  </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="/computer-recognition-program.html">The Computer Recognition Program</a>
            <ul>
              <li>
                <a href="/computer-recognition-program.html#program-constraints">Program Constraints</a>
              </li>
              <li>
                <a href="/computer-recognition-program/pdp12-descriptions.html">PDP12 Descriptions</a>
              </li>
              <li>
                <a href="/computer-recognition-program/operational-goals.html">Operational Goals</a>
              </li>
              <li>
                <a href="/computer-recognition-program/program-description.html">Program Description</a>
                <ul>
                  <li>
                    <a href="/computer-recognition-program/program-description/signal-processing-section.html">
                      Signal Processing Section
                    </a>
                  </li>
                  <li>
                    <a href="/computer-recognition-program/program-description/code-translation-section.html">
                      Code Translation Section
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>



    </nav>

    <p style="font-size:.75em;">Digitised by Alan Pich, October 2014</p>
  </div>
</div>
